<% size = @map.size.to_i %>
<table>
<% size.downto(-1*size) do |y| %>
<tr>
  <% for x in (-1*size..size) %>
  <% tdclass = ''
  if @data["#{x},#{y}"] <= 40
  	tdclass = "wilderness"
  elsif @data["#{x},#{y}"] <= 60
  	tdclass = "oasis"
  elsif @data["#{x},#{y}"] <= 137
  	tdclass = "field8c"
  elsif @data["#{x},#{y}"] <= 200
  	tdclass = "fieldothers"
  end
  	%>
  	<td class="<%= tdclass %>" title="<%= "#{x},#{y}" %>" style="width:150px">
		<%= @data["#{x},#{y}"] %>
		</td>
	<% end %>
</tr>
<% end %>
</table>

<style>
td {
    border: 1px solid black;
}
.wilderness{
	background: green;
}
.oasis{
	background: yellow;
}
.field8c{
	background: blue;
}
.fieldothers{
	background: red;
}
</style>